@inherits AwsSummit2024Model
@page "/publicspeaking/awssummit/2024"
@page "/publicspeaking/secret"

<div class="row">
    <div class="col-auto">
        <a href="/publicspeaking" class="button" title="Back"><img alt="back" src="@Config.Images.General.Back" class="button img-fluid" title="Back" /></a>
    </div>
    <div class="col">
        <div class="pagetitle">
            <h1>AWS Summit</h1>
            <h2>2024</h2>
            <hr class="pagedivider" />
            <div class="container-fluid" style="margin-top: -50px;">
                <div class="row">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-4">
                        <a href="https://aws.amazon.com/events/summits/emea/johannesburg/agenda" title="AWS Summit Johannesburg 2024" target="_blank">
                            <div class="mt-3 p-4 px-1 text-white rounded text-center hometile">
                                <img alt="AWS Summit Johannesburg 2024" src="@Config.Images.PublicSpeaking.awsSummit2024" class="img-fluid" title="AWS Summit Johannesburg 2024" />
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-4"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        <h2><b>AWS Secrets: How to read your cloud resources bedtime stories</b></h2>
        <h5>
            Want to save big on your AWS bill? We found the secret: teach your resources to take naps! By using AWS scheduler to shut down and start resources in our non-production account, we cut our operational costs by over 50%.

            Come hear the inside scoop from morning wake-up calls to start the day to night-night lullabies. This recipe will repeat and save you every day! Let your resources get their beauty sleep!
        </h5>
        <div class="mt-5 p-1 text-white rounded text-center">
            <div class="row">
                <div class="col-6">
                    <a href="https://sessionize.com/s/henniefrancis/aws-secrets-how-to-read-your-cloud-resources-bedti/100110" title="Sessionize Session" target="_blank" class="blanklink">
                        <div class="mt-5 p-1 text-white rounded text-center">
                            <img alt="Sessionize" src="@Config.Images.Socials.Sessionize" class="img-fluid" style="width: 400px;" title="Sessionize" />
                        </div>
                    </a>
                </div>
                <div class="col-6">
                    <a href="https://www.youtube.com/watch?v=DoDxU1U2jzc&t" title="Watch it on YouTube" target="_blank" class="blanklink">
                        <img alt="Watch it on YouTube" src="@Config.Images.Socials.YouTubeWatch" class="img-fluid" style="width: 300px; margin-top:50px;" title="Watch it on YouTube" />
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-2"></div>
</div>