@inherits AwsSummit2024Model
@page "/publicspeaking/awssummit/2024/eventphotos"

<div class="row">
    <div class="col-auto">
        <a href="/publicspeaking/awssummit/2024" class="button" title="Back"><img alt="back" src="@Config.Images.General.Back" class="button img-fluid" title="Back" /></a>
    </div>
    <div class="col">
        <div class="pagetitle">
            <h1>AWS Summit</h1>
            <h2>2024</h2>
            <hr class="pagedivider" />
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-4">
                        <h1>Event Photo's</h1>
                    </div>
                    <div class="col-sm-4"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-2">
        <a href="preview/awsSummit/2024/Photo1" title="Preview Image" target="_blank">
            <div class="mt-3 p-4 px-1 text-white rounded text-center hometile">
                <img alt="Photo 1" src="@Config.Images.PublicSpeakingEventPhotos.awsSummit2024_Photo1" class="img-fluid" style="width: 300px;" title="Photo1" />
            </div>
        </a>
    </div>
</div>