@page "/certifications/other"

<div class="row">
    <div class="col-auto">
        <a href="/certifications" class="button" title="Back"><img alt="back" src="@Config.Images.General.Back" class="button img-fluid" title="Back" /></a>
    </div>
    <div class="col">
        <div class="pagetitle">
            <h1>Other Certifications</h1>
            <hr class="pagedivider" />
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-1 badgediv2">
            <a href="https://www.credly.com/badges/dcbd5185-33ae-4267-b319-740705afdbeb" title="Microsoft Certified Trainer 2018-2019" target="_blank">
                <img alt="Microsoft Certified Trainer 2018-2019" src="@Config.Images.Microsoft.MCT2018_2019" class="img-fluid" title="Microsoft Certified Trainer 2018-2019" />
            </a>
        </div>
        <div class="col-lg-1 badgediv2">
            <a href="/certifications/microsoft/cert/@Config.Images.Microsoft.Microsoft_cert_MCT_2022_2023" title="Microsoft Certified Trainer 2022-2023" target="_blank">
                <img alt="Microsoft Certified Trainer 2022-2023" src="@Config.Images.Microsoft.MCT2022_2023" class="img-fluid" title="Microsoft Certified Trainer 2022-2023" />
            </a>
        </div>
    </div>
</div> 