@if (data(); as d) {
  <div class="container-fluid px-4">
    <div class="row">
      <div class="col">
        <nav class="divider-color" style="--bs-breadcrumb-divider: '&#x27A4;';" aria-label="breadcrumb">
          <ol class="breadcrumb">
            <a [routerLink]="['/public-speaking', event(), year()]" title="Go Back" class="back">&#10531;</a>
            <li class="breadcrumb-item root"><a routerLink="/">root@hennie</a><b>: </b></li>
            <li class="breadcrumb-item"><a routerLink="/public-speaking">Public Speaking</a></li>
            <li class="breadcrumb-item"><a [routerLink]="['/public-speaking', event(), year()]">{{ d.title }} {{ d.year }}</a></li>
            <li class="breadcrumb-item current" aria-current="page">Event Photo's: {{ d.title }} {{ d.year }}</li>
          </ol>
        </nav>
      </div>
    </div>

    <div class="row heading">
      <div class="col">
        <h1>Event Photos<br />{{ d.title }}<br />{{ d.year }}</h1>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div id="carouselExample" class="carousel slide">
          <div class="carousel-inner">
            @for (photo of photos(); track $index) {
              <div class="carousel-item" [class.active]="$first">
                <img [src]="photo.src" class="d-block w-45" [alt]="photo.alt">
              </div>
            }
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
  </div>
} @else {
  <div class="container-fluid px-4">
    <div class="row heading"><div class="col"><h1>Gallery not found</h1></div></div>
  </div>
}
