html, body { height: 100%; }
body {
    margin: 0;
    background-color: #001010;
    color: #F1F1F1;
}

:root {
    --bs-breadcrumb-divider: '>';
}

.background {
    background-color: hsla(0,0%,4%,.4);
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    &.diamond {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 400px;
        height: 400px;
        transform: translate(-50%, -50%) rotate(45deg);
    }
    z-index: 0;
}

.flowfield {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    filter: blur(5px) brightness(0.6);
    width: 12.5%;
    transform: translate(-50%, -50%) scale(8);
    z-index: -1;
}

.selector-for-some-widget {
    box-sizing: content-box;
  }

.pageheader {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    margin-bottom: -25px;
}

.container-fluid {
    /* border: solid; */
    height: calc(100% - 25px);
    padding: 15px;
}

.container-fluid-content {
    /* border: solid; */
    height: calc(100% - 120px);
    overflow-y: auto;
    padding: 15px;
}

footer {
    text-align: center;
    bottom: o;
}

footer hr {
    margin: 0px !important;
    padding: 0px !important;
}

footer p {
    font-size: small;
    color: #F2F2F2;
}

.zoom {
    transition: transform .4s;
  }
  
  .zoom:hover {
    transform: scale(1.05);
  }

.devider {
    /* border: 1px solid #ccc; */
    margin: 0;
}
.breadcrumb-item::d {
    color: #00FF00;
    text-decoration: none;
    font-weight: bolder;
}

.breadcrumb-item a {
    color: #007413;
    text-decoration: none;
    font-weight: bolder;
}

.root a {
    color: #00FF00;
    text-decoration: none;
    font-weight: bolder;
}

.current {
    color: #0077ff;
}

.breadcrumb-item+.breadcrumb-item::before {
    color: #007413;
 }

label {
    color: #007413;
    align-items: center;
    padding: 5px;
    font-weight: bolder;
    /* border: 1px solid #ccc; */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 0, 0, 1);
    font-size: 10px;
    margin-bottom: 10px;
 }
.active {
    color: transparent;
    align-items: center;
    padding: 5px;
    font-weight: bolder;
    /* border: 1px solid #ccc; */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 255, 0, 0);
    font-size: 10px;
    margin-bottom: 10px;
}

.inprogress {
    color: #5cb85c;
    align-items: center;
    padding: 5px;
    font-weight: bolder;
    /* border: 1px solid #ccc; */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(92, 184, 92, 1);
    font-size: 10px;
    margin-bottom: 10px;
}

.todo {
    color: #59CBE8;
    align-items: center;
    padding: 5px;
    font-weight: bolder;
    /* border: 1px solid #ccc; */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(89, 203, 232, 1);
    font-size: 10px;
    margin-bottom: 10px;
}

.back {
    font-size: 50px;
    text-decoration: none;
    margin-top: -30px;
    margin-left: -20px;
    padding-right: 25px;
    color: #00FF00;
}