@page "/poe/cv"

<div class="row">
    <div class="col-auto">
        <a href="/poe" class="button" title="Back"><img alt="back" src="@Config.Images.General.Back" class="button img-fluid" title="Back" /></a>
    </div>
    <div class="col">
        <div class="pagetitle">
            <h1>Portfolio of Evidence: Curriculum Vitae</h1>
            <hr class="pagedivider" />
        </div>
    </div>
</div>

Something coming soon! Watch this space...
