@page "/cv"

<div class="row">
    <div class="col-auto">
        <a href="/poe" class="button" title="Back"><img alt="back" src="@Config.Images.General.Back" class="button img-fluid" title="Back" /></a>
    </div>
    <div class="col">
        <div class="pagetitle">
            <h1>Curriculum Vitae</h1>
            <hr class="pagedivider" />
            <a href="https://1drv.ms/b/s!AvgfjliGfehWgeEVsy4mHJa_yEy3tQ?e=0vCa11" class="btn btn-outline-info" target="_blank">Download Curriculum Vitae</a>
        </div>
    </div>
</div>

<div class="text-center">
    <hr />
    <h2>Personal Details</h2>
    <hr />
    <table style="width: 40%; margin: 0 auto; border:1px " border="1">
        <tr style="height: 40px;">
            <th scope="col" class="col-3" style="text-align:left">Surname</th>
            <th scope="col" class="col-2">:</th>
            <th scope="col" class="col-3" style="text-align:left">Francis</th>
        </tr>
        <tr style="height: 40px;">
            <th scope="col" class="col-3" style="text-align:left">Full Name</th>
            <th scope="col" class="col-1">:</th>
            <th scope="col" class="col-3" style="text-align:left">Thomas Hendrik</th>
        </tr>
        <tr style="height: 40px;">
            <th scope="col" class="col-3" style="text-align:left">Known Name</th>
            <th scope="col" class="col-1">:</th>
            <th scope="col" class="col-3" style="text-align:left">Hennie</th>
        </tr>
        <tr style="height: 40px;">
            <th scope="col" class="col-3" style="text-align:left">Date of Birth</th>
            <th scope="col" class="col-1">:</th>
            <th scope="col" class="col-3" style="text-align:left">1991-02-19</th>
        </tr>
        <tr style="height: 40px;">
            <th scope="col" class="col-3" style="text-align:left">Gender</th>
            <th scope="col" class="col-1">:</th>
            <th scope="col" class="col-3" style="text-align:left">Male</th>
        </tr>
        <tr style="height: 40px;">
            <th scope="col" class="col-3" style="text-align:left">Marital Status</th>
            <th scope="col" class="col-1">:</th>
            <th scope="col" class="col-3" style="text-align:left">Engaged</th>
        </tr>
        <tr style="height: 40px;">
            <th scope="col" class="col-3" style="text-align:left">Nationality</th>
            <th scope="col" class="col-1">:</th>
            <th scope="col" class="col-3" style="text-align:left">RSA</th>
        </tr>
        <tr style="height: 40px;">
            <th scope="col" class="col-3" style="text-align:left">Criminal Records</th>
            <th scope="col" class="col-1">:</th>
            <th scope="col" class="col-3" style="text-align:left">None</th>
        </tr>
        <tr style="height: 40px;">
            <th scope="col" class="col-3" style="text-align:left">Health</th>
            <th scope="col" class="col-1">:</th>
            <th scope="col" class="col-3" style="text-align:left">Excellent</th>
        </tr>
        <tr style="height: 40px;">
            <th scope="col" class="col-3" style="text-align:left">Languages</th>
            <th scope="col" class="col-1">:</th>
            <th scope="col" class="col-3" style="text-align:left">Afrikaans, English</th>
        </tr>
        <tr style="height: 40px;">
            <th scope="col" class="col-3" style="text-align:left">Read | Write | Speak</th>
            <th scope="col" class="col-1">:</th>
            <th scope="col" class="col-3" style="text-align:left">Afrikaans, English</th>
        </tr>
        <tr style="height: 40px;">
            <th scope="col" class="col-3" style="text-align:left">Phone Number</th>
            <th scope="col" class="col-1">:</th>
            <th scope="col" class="col-3" style="text-align:left">+27 82 839 5015</th>
        </tr>
        <tr style="height: 40px;">
            <th scope="col" class="col-3" style="text-align:left">Email Address</th>
            <th scope="col" class="col-1">:</th>
            <th scope="col" class="col-3" style="text-align:left">henniefrancis@gmail.com</th>
        </tr>
        <tr style="height: 40px;">
            <th scope="col" class="col-3" style="text-align:left">Driver's License</th>
            <th scope="col" class="col-1">:</th>
            <th scope="col" class="col-3" style="text-align:left">Yes</th>
        </tr>
        <tr style="height: 40px;">
            <th scope="col" class="col-3" style="text-align:left">Driver's Code</th>
            <th scope="col" class="col-1">:</th>
            <th scope="col" class="col-3" style="text-align:left">08</th>
        </tr>
        <tr style="height: 40px;">
            <th scope="col" class="col-3" style="text-align:left">Transportation</th>
            <th scope="col" class="col-1">:</th>
            <th scope="col" class="col-3" style="text-align:left">Car</th>
        </tr>
        <tr style="height: 40px;">
            <th scope="col" class="col-3" style="text-align:left">Availability</th>
            <th scope="col" class="col-1">:</th>
            <th scope="col" class="col-3" style="text-align:left">Immediately</th>
        </tr>
    </table>

    <br />

    <hr />
    <h2>Education</h2>
    <hr />
    <table style="width: 40%; margin: 0 auto; border:1px " border="1">
        <tr style="height: 40px;">
            <th scope="col" class="col-3" style="text-align:left">High School</th>
            <th scope="col" class="col-2">:</th>
            <th scope="col" class="col-3" style="text-align:left">High School Bastion</th>
        </tr>
        <tr style="height: 40px;">
            <th scope="col" class="col-3" style="text-align:left">Year</th>
            <th scope="col" class="col-1">:</th>
            <th scope="col" class="col-3" style="text-align:left">2009</th>
        </tr>
        <tr style="height: 40px;">
            <th scope="col" class="col-3" style="text-align:left">Subjects</th>
            <th scope="col" class="col-1">:</th>
            <th scope="col" class="col-3" style="text-align:left">

                <ul style="list-style-type: none; padding: 0">
                    <li>English</li>
                    <li>Afrikaans</li>
                    <li>Life Orientation</li>
                    <li>Mathematics HG</li>
                    <li>Physical Science</li>
                    <li>Information Technology</li>
                    <li>Computer Applicants Technology</li>
                </ul>
            </th>
        </tr>
    </table>

    <br />

    <hr />
    <h2>Business Qualifications</h2>
    <hr />
    <table style="width: 40%; margin: 0 auto; border:1px; text-align:left">
        <tr><td>Computer Literacy (CLC) in Windows 7</td></tr>
        <tr><td>Customer Services (CBP)</td></tr>
        <tr><td>Business Communication (CBP)</td></tr>
        <tr><td>Business English (CBP)</td></tr>
        <tr><td>Business Writing (CBP)</td></tr>
        <tr><td>HTML</td></tr>
    </table>

    <br />

    <hr />
    <h2>Amazon Certifications</h2>
    <hr />
    <table style="width: 40%; margin: 0 auto; border:1px; text-align:left">
        <tr><td>AWS Certified Cloud Practitioner</td></tr>
        <tr><td>AWS Certified Solutions Architect</td></tr>
    </table>

    <br />

    <hr />
    <h2>Microsoft Other</h2>
    <hr />
    <table style="width: 40%; margin: 0 auto; border:1px; text-align:left">
        <tr><td>Microsoft Certified Trainer</td></tr>
    </table>

    <br />

    <hr />
    <h2>Microsoft Certifications</h2>
    <hr />
    <table style="width: 50%; margin: 0 30%; border:1px; text-align:left">
        <tr><td>Microsoft Certified: Power Platform Fundamentals</td></tr>
        <tr><td>Microsoft Certified: Azure Data Fundamentals</td></tr>
        <tr><td>Microsoft Certified: Azure AI Fundamentals</td></tr>
        <tr><td>Microsoft Certified: Security, Compliance, and Identity Fundamentals</td></tr>
        <tr><td>Microsoft® Certified Technology Specialist: .NET Framework 4, Web Applications</td></tr>
        <tr><td>Microsoft® Certified Technology Specialist: .NET Framework 4, Service Communication</td></tr>
        <tr><td>Microsoft® Certified Technology Specialist: .NET Framework 4, Data Access</td></tr>
        <tr><td>Microsoft® Certified Professional Developer: Web Developer 4</td></tr>
        <tr><td>Microsoft Certified Professional</td></tr>
        <tr><td>Microsoft® Certified Technology Specialist: SQL Server 2008, BI Development and Maintenance</td></tr>
        <tr><td>Microsoft® Certified Technology Specialist: SharePoint 2010, Application Development</td></tr>
        <tr><td>Microsoft® Certified IT Professional: Database Developer 2008</td></tr>
        <tr><td>Microsoft® Certified Technology Specialist: SQL Server 2008, Database Development</td></tr>
        <tr><td>Microsoft® Certified IT Professional: Business Intelligence Developer 2008</td></tr>
        <tr><td>Microsoft® Certified Technology Specialist: .NET Framework 3.5, Communication Applications</td></tr>
        <tr><td>Microsoft® Certified Professional Developer: Enterprise Application Developer 3.5</td></tr>
    </table>

    <br />

    <hr />
    <h2>Technology Stack</h2>
    <hr />
    <table style="width: 40%; margin: 0 auto; border:1px; text-align:left">
        <tr>
            <td>
                <h5><strong>Programming Languages</strong></h5>
                <p>C# 11 | Java 21 | JavaScript | Python | Angular | React</p>
            </td>
        </tr>
        <tr>
            <td>
                <h5><strong>Frameworks</strong></h5>
                <p>.NET Framework | .NET Core | Spring</p>
            </td>
        </tr>
        <tr>
            <td>
                <h5><strong>ORM & Tools</strong></h5>
                <p>ODBC | Entity Framework | Entity Framework Core | JDBC</p>
            </td>
        </tr>
        <tr>
            <td>
                <h5><strong>Front-end & Web Technology</strong></h5>
                <p>Java | JavaScript | Python | Angular | React | HTML 5 | HTML 5 Boilerplate | CSS3 | jQuery | Bootstrap 5 | ASP.NET | ASP.NET Core | .NET Blazor | .NET Blazor Core | .NET Windows Forms | .NET MAUI | Xamarin | SharePoint</p>
            </td>
        </tr>
        <tr>
            <td>
                <h5><strong>Back-end Technology</strong></h5>
                <p>WCF | ASP.NET Core API | Microservices | Swagger | Spring boot</p>
            </td>
        </tr>
        <tr>
            <td>
                <h5><strong>Cloud Technology</strong></h5>
                <p>AWS | Azure | Google</p>
            </td>
        </tr>
        <tr>
            <td>
                <h5><strong>IoT</strong></h5>
                <p>Arduino | MQTT | Raspberry Pi</p>
            </td>
        </tr>
        <tr>
            <td>
                <h5><strong>Big Data</strong></h5>
                <p>Apache Kafka | AWS MSK | Kafka UI | RedPanda</p>
            </td>
        </tr>
        <tr>
            <td>
                <h5><strong>Analytics</strong></h5>
                <p>Google Analytics | Microsoft Power BI | OLAP Cubes</p>
            </td>
        </tr>
        <tr>
            <td>
                <h5><strong>Web Hosting</strong></h5>
                <p>Apache HTTP | xampp | nginx | cPanel | Joomla | WordPress | Bitnami | IIS</p>
            </td>
        </tr>
        <tr>
            <td>
                <h5><strong>Source Control</strong></h5>
                <p>Git | GitHub | GitLab | AWS CodeCommit | TFS | Azure DevOps | Bitbucket | Tortoise SVN | Visual SVN</p>
            </td>
        </tr>
        <tr>
            <td>
                <h5><strong>Testing & QA</strong></h5>
                <p>JMeter | Insomnia | Postman | Ready API | Test Complete</p>
            </td>
        </tr>
        <tr>
            <td>
                <h5><strong>DevOps</strong></h5>
                <p>Rancher | HashiCorp Consul | Mirantis | Ansible | Jenkins | Docker | Terraform | Kubernetes | Apache Maven</p>
            </td>
        </tr>
        <tr>
            <td>
                <h5><strong>Monitoring</strong></h5>
                <p>Instana | Grafana | OpenSearch | Elastic | PagerDuty</p>
            </td>
        </tr>
        <tr>
            <td>
                <h5><strong>Databases</strong></h5>
                <p>Microsoft SQL Server | MySQL | PostgreSQL | Amazon DynamoDB, RDS (Aurora, MySQL, PostgreSQL, SQL Server, Custom) DocumentDB, Redshift | Azure: Cosmos DB, SQL, PostgreSQL, MySQL, Cache for Redis 2, Redis</p>
            </td>
        </tr>
        <tr>
            <td>
                <h5><strong>Security</strong></h5>
                <p>HashiCorp Vault</p>
            </td>
        </tr>
        <tr>
            <td>
                <h5><strong>Software</strong></h5>
                <p>JIRA | Confluence | JIRA Service Management | Slack | Trello | Terraform Enterprise Terraform Cloud | LucidChart | LucidSpark | LucidScale | draw.io | Enterprise Architect | C4 Models</p>
            </td>
        </tr>
    </table>

    <br />

    <hr />
    <h2>Employment History</h2>
    <hr />
    <br />

    <hr />
    <h4>Capitec Bank Holdings Limited</h4>
    <hr />
    <table style="width: 40%; margin: 0 auto; border:1px " border="1">
        <tr style="height: 40px;">
            <th scope="col" class="col-3" style="text-align:left">Work Duration</th>
            <th scope="col" class="col-2">:</th>
            <th scope="col" class="col-3" style="text-align:left">01 May 2024 - Current</th>
        </tr>
        <tr style="height: 40px;">
            <th scope="col" class="col-3" style="text-align:left">Position Type</th>
            <th scope="col" class="col-1">:</th>
            <th scope="col" class="col-3" style="text-align:left">Permanent</th>
        </tr>
        <tr style="height: 40px;">
            <th scope="col" class="col-3" style="text-align:left">Job Title</th>
            <th scope="col" class="col-1">:</th>
            <th scope="col" class="col-3" style="text-align:left">Senior Software Engineer III: Full Stack <br /> Solutions Architect</th>
        </tr>
        <tr>
            <td colspan="3" style="text-align:left">
                <p><strong>Responsibilities</strong></p>
                <ul>
                    <li>Designing software solutions</li>
                    <ul>
                        <li>
                            Works closely with stakeholders and cross functional team to translate business and technical requirements into solutions that meet
                            client / business needs.
                        </li>
                        <li>Designing complex software systems, considering scalability, performance and future requirements.</li>
                        <li>Identifying the trade-offs in solutions and can clearly articulate and act on these where required.</li>
                        <li>Produces solutions to programming challenges.</li>
                        <li>Creates well designed solutions that balance client value with security, operations, resilience, performance and cost.</li>
                        <li>Introduces and propagates new patterns, practices, technologies into the organisation to efficiently solve a business need.</li>
                    </ul>
                    <li>Software development and systems integration</li>
                    <ul>
                        <li>Work with other software engineers and architects in developing components based on needs that support application functionality.</li>
                        <li>Optimise systems for maximum performance and scalability to handle increasing user loads.</li>
                        <li>Develop reusable code, APIs and libraries for future use.</li>
                        <li>Share impact of code changes with product team.</li>
                    </ul>
                    <li>Database management and application logic</li>
                    <ul>
                        <li>Implement and optimise database models and queries for efficient data storage and retrieval.</li>
                        <li>Write business logic and algorithms to handle complex data processing and application workflows.</li>
                    </ul>
                    <li>Quality and testing</li>
                    <ul>
                        <li>
                            Implement and improve the organisation's prescribed development frameworks, patterns, and practices, with a particular focus on
                            automated testing and CICD.
                        </li>
                        <li>Conducts thorough code reviews and ensures high code quality for self and others.</li>
                        <li>Utilises continuous integration, deployment, and automation tools effectively.</li>
                        <li>
                            Perform testing with a strong preference towards developing automated testing scripts and procedures to ensure code robustness and
                            reliability.
                        </li>
                        <li>Practices, promotes and guides others in secure coding practices (devsecops) and addresses potential vulnerabilities.</li>
                    </ul>
                    <li>Operational Excellence</li>
                    <ul>
                        <li>Conduct investigations through troubleshooting and debugging to fix minor, major and escalated bugs, promoting system stability.</li>
                        <li>
                            Perform first and/or second level standby across environments for integration between internal systems and applications, as well as
                            that of external service providers.
                        </li>
                        <li>React to system monitoring and alerting events in a timely manner.</li>
                        <li>
                            Assist capacity planning on infrastructure requirements, as well as stability and load tests to improve system performance and
                            throughput.
                        </li>
                        <li>Maintains, modifies and upgrades existing solutions, recommending and implementing improved methods.</li>
                    </ul>
                    <li>Learning and continuous improvement</li>
                    <ul>
                        <li>
                            Expected to develop and maintain proficiency in modern programming paradigms, patterns and practices and apply or improve
                            what is used by their delivery team. (This will differ per delivery team).
                        </li>
                        <li>
                            Software Engineer Level III forms part of a structured career progression model where the incumbent will be exposed to meaningful
                            projects in order to develop their level of autonomy, decision making and problem-solving skills.
                        </li>
                    </ul>
                    <li>Technical Leadership</li>
                    <ul>
                        <li>
                            Engage with product managers, project sponsors, and other stakeholders to support scoping of work and provide updates on
                            progress and status.
                        </li>
                        <li>Coach, guide and provide support to Software Engineer I / II</li>
                        <li>Share expertise and knowledge with product team and stakeholders.</li>
                        <li>Drives innovation, bringing new technologies and ways of solving problems into the team and organisation.</li>
                        <li>Responsible to assist Software Engineer I / II with development work and perform code reviews.</li>
                    </ul>
                </ul>
            </td>
        </tr>
        <tr>
            <th scope="col" class="col-3" style="text-align:left">Reason for leaving</th>
            <th scope="col" class="col-1">:</th>
            <th scope="col" class="col-3" style="text-align:left"></th>
        </tr>
        <tr>
            <td colspan="3" style="text-align:left">
                <p><strong>References</strong></p>
                <ul style="list-style-type: none;">
                    <li>Nolan Schoonraad</li>
                    <li>+27 84 676 9493</li>
                    <li>nolanschoonraad@capitecbank.co.za</li>
                </ul>
            </td>
        </tr>
    </table>
    <br />

    <hr />
    <h4>Capitec Bank Holdings Limited</h4>
    <hr />
    <table style="width: 40%; margin: 0 auto; border:1px " border="1">
        <tr style="height: 40px;">
            <th scope="col" class="col-3" style="text-align:left">Work Duration</th>
            <th scope="col" class="col-2">:</th>
            <th scope="col" class="col-3" style="text-align:left">01 July 2022 - 01 May 2024</th>
        </tr>
        <tr style="height: 40px;">
            <th scope="col" class="col-3" style="text-align:left">Position Type</th>
            <th scope="col" class="col-1">:</th>
            <th scope="col" class="col-3" style="text-align:left">Permanent</th>
        </tr>
        <tr style="height: 40px;">
            <th scope="col" class="col-3" style="text-align:left">Job Title</th>
            <th scope="col" class="col-1">:</th>
            <th scope="col" class="col-3" style="text-align:left">Analyst Developer: Front End</th>
        </tr>
        <tr>
            <td colspan="3" style="text-align:left">
                <p><strong>Responsibilities</strong></p>
                <ul>
                    <li>Develop detailed technical specifications from functional descriptions (design)</li>
                    <li>Develop systems from technical specifications as provided by Architects</li>
                    <li>Deliver development within agreed timelines.</li>
                    <li>Perform unit testing from a pre-defined test plan.</li>
                    <li>Update/amend test plans according to solution development to ensure coverage of all areas.</li>
                    <li>Provide testing assistance to developer(s)</li>
                    <li>Provide implementation instructions for new development.</li>
                    <li>Provide production support to production systems (stand-by)</li>
                    <li>Conduct investigations and solve system issues.</li>
                    <li>Prepare production deployment packages.</li>
                    <li>Ensure successful implementation.</li>
                    <li>Provide coaching and mentoring to Programmers and Developers</li>
                    <li>Team Leader for projects.</li>
                    <li>Participation and proactive problem-solving to meet team objectives.</li>
                </ul>
            </td>
        </tr>
        <tr>
            <th scope="col" class="col-3" style="text-align:left">Reason for leaving</th>
            <th scope="col" class="col-1">:</th>
            <th scope="col" class="col-3" style="text-align:left">Promotion to Senior Software Engineer III: Full Stack &amp; Solutions Architect </th>
        </tr>
        <tr>
            <td colspan="3" style="text-align:left">
                <p><strong>References</strong></p>
                <ul style="list-style-type: none;">
                    <li>Nolan Schoonraad</li>
                    <li>+27 84 676 9493</li>
                    <li>nolanschoonraad@capitecbank.co.za</li>
                </ul>
            </td>
        </tr>
    </table>
    <br />

    <hr />
    <h4>Tracer Workflow (Pty) Ltd</h4>
    <hr />
    <table style="width: 40%; margin: 0 auto; border:1px " border="1">
        <tr style="height: 40px;">
            <th scope="col" class="col-3" style="text-align:left">Work Duration</th>
            <th scope="col" class="col-2">:</th>
            <th scope="col" class="col-3" style="text-align:left">01 April 2013 - 30 June 2022</th>
        </tr>
        <tr style="height: 40px;">
            <th scope="col" class="col-3" style="text-align:left">Position Type</th>
            <th scope="col" class="col-1">:</th>
            <th scope="col" class="col-3" style="text-align:left">Permanent</th>
        </tr>
        <tr style="height: 40px;">
            <th scope="col" class="col-3" style="text-align:left">Job Title</th>
            <th scope="col" class="col-1">:</th>
            <th scope="col" class="col-3" style="text-align:left">Solutions Architect</th>
        </tr>
        <tr>
            <td colspan="3" style="text-align:left">
                <p><strong>Responsibilities</strong></p>
                <ul>
                    <li>To develop applications in multi-platform environments</li>
                    <li>To provide support to existing systems</li>
                    <li>To carry our modifications to existing programs and databases</li>
                    <li>To carry out the analysis, programming, tests, and installation of new systems</li>
                    <li>To provide support and customer service</li>
                    <li>Design, development, implementation and maintenance of new and existing products and services.</li>
                    <li>Oversee all Architectural Designs, Requirements and needs of the business.</li>
                    <li>To write user manuals and technical documents</li>
                    <li>Manage Development Staff</li>
                    <li>Providing technical lead to team members and other staff members.</li>
                    <li>Purchase and Maintaining Software for company needs.</li>
                    <li>Attending workshops and client technical meetings where technical advice needs to be provided.</li>
                    <li>Draw up quotes for clients and oversee specification documents.</li>
                    <li>Management of all system documentation to be kept in order and up to date.</li>
                    <li>Satisfactorily carry out all tasks and duties normally associated with the position employed for.</li>

                </ul>
            </td>
        </tr>
        <tr>
            <th scope="col" class="col-3" style="text-align:left">Reason for leaving</th>
            <th scope="col" class="col-1">:</th>
            <th scope="col" class="col-3" style="text-align:left">Seeking growth in career</th>
        </tr>
        <tr>
            <td colspan="3" style="text-align:left">
                <p><strong>References</strong></p>
                <ul style="list-style-type: none;">
                    <li>Cobus Van Graan</li>
                    <li>+27836283084</li>
                    <li>cobus@tracermw.com</li>
                </ul>
            </td>
        </tr>
    </table>
    <br />

    <hr />
    <h4>CRIMZone Software – Deloitte</h4>
    <hr />
    <table style="width: 40%; margin: 0 auto; border:1px " border="1">
        <tr style="height: 40px;">
            <th scope="col" class="col-3" style="text-align:left">Work Duration</th>
            <th scope="col" class="col-2">:</th>
            <th scope="col" class="col-3" style="text-align:left">01 November 2012 – 31 March 2013</th>
        </tr>
        <tr style="height: 40px;">
            <th scope="col" class="col-3" style="text-align:left">Position Type</th>
            <th scope="col" class="col-1">:</th>
            <th scope="col" class="col-3" style="text-align:left">Contractor</th>
        </tr>
        <tr style="height: 40px;">
            <th scope="col" class="col-3" style="text-align:left">Job Title</th>
            <th scope="col" class="col-1">:</th>
            <th scope="col" class="col-3" style="text-align:left">
                Computer Software Developer
                Support Engineer
            </th>
        </tr>
        <tr>
            <td colspan="3" style="text-align:left">
                <p><strong>Responsibilities</strong></p>
                <ul>
                    <li>Maintain existing databases.</li>
                    <li>Write C# Applications</li>
                    <li>Create Automated Processes</li>
                    <li>Use In – Maintain Client System</li>
                </ul>
            </td>
        </tr>
        <tr>
            <th scope="col" class="col-3" style="text-align:left">Reason for leaving</th>
            <th scope="col" class="col-1">:</th>
            <th scope="col" class="col-3" style="text-align:left">Contract Ended</th>
        </tr>
        <tr>
            <td colspan="3" style="text-align:left">
                <p><strong>References</strong></p>
                <ul style="list-style-type: none;">
                    <li>Allan Atkinson</li>
                    <li>+27832905723</li>
                    <li>allan@crimzone.com</li>
                </ul>
            </td>
        </tr>
    </table>
    <br />

    <hr />
    <h4>OneTrace / Bridge Law</h4>
    <hr />
    <table style="width: 40%; margin: 0 auto; border:1px " border="1">
        <tr style="height: 40px;">
            <th scope="col" class="col-3" style="text-align:left">Work Duration</th>
            <th scope="col" class="col-2">:</th>
            <th scope="col" class="col-3" style="text-align:left">11 November 2011 – 31 October 2012</th>
        </tr>
        <tr style="height: 40px;">
            <th scope="col" class="col-3" style="text-align:left">Position Type</th>
            <th scope="col" class="col-1">:</th>
            <th scope="col" class="col-3" style="text-align:left">Permanent</th>
        </tr>
        <tr style="height: 40px;">
            <th scope="col" class="col-3" style="text-align:left">Job Title</th>
            <th scope="col" class="col-1">:</th>
            <th scope="col" class="col-3" style="text-align:left">Software Developer</th>
        </tr>
        <tr>
            <td colspan="3" style="text-align:left">
                <p><strong>Responsibilities</strong></p>
                <ul>
                    <li>Create and modify existing / new database objects.</li>
                    <li>Create / Modify pages to an ASP.NET solution.</li>
                    <li>Use software to submit code to Concurrent Versions System to deploy.</li>
                    <li>Give support to business on live solution.</li>
                    <li>Submit database objects on an Architectural Management System.</li>
                    <li>Do projects as per business request.</li>
                </ul>
            </td>
        </tr>
        <tr>
            <th scope="col" class="col-3" style="text-align:left">Reason for leaving</th>
            <th scope="col" class="col-1">:</th>
            <th scope="col" class="col-3" style="text-align:left">
                Seeking better opportunity in the field of my studies closer to home
            </th>
        </tr>
        <tr>
            <td colspan="3" style="text-align:left">
                <p><strong>References</strong></p>
                <ul style="list-style-type: none;">
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </td>
        </tr>
    </table>
    <br />

    <hr />
    <h4>Lithotech Afric Mail Johannesburg</h4>
    <hr />
    <table style="width: 40%; margin: 0 auto; border:1px " border="1">
        <tr style="height: 40px;">
            <th scope="col" class="col-3" style="text-align:left">Work Duration</th>
            <th scope="col" class="col-2">:</th>
            <th scope="col" class="col-3" style="text-align:left">01 November 2010 – 31 October 2011 </th>
        </tr>
        <tr style="height: 40px;">
            <th scope="col" class="col-3" style="text-align:left">Position Type</th>
            <th scope="col" class="col-1">:</th>
            <th scope="col" class="col-3" style="text-align:left">Permanent</th>
        </tr>
        <tr style="height: 40px;">
            <th scope="col" class="col-3" style="text-align:left">Job Title</th>
            <th scope="col" class="col-1">:</th>
            <th scope="col" class="col-3" style="text-align:left">Programmer</th>
        </tr>
        <tr>
            <td colspan="3" style="text-align:left">
                <p><strong>Responsibilities</strong></p>
                <ul>
                    <li>Maintain existing databases.</li>
                    <li>Write C# Applications for Data Manipulation</li>
                    <li>Create Automated Processes</li>
                    <li>Use In – House Technology to create a file with a data input and paper output.</li>
                    <li>Receive client data and perform manipulations on the data.</li>
                </ul>
            </td>
        </tr>
        <tr>
            <th scope="col" class="col-3" style="text-align:left">Reason for leaving</th>
            <th scope="col" class="col-1">:</th>
            <th scope="col" class="col-3" style="text-align:left">Seeking greater exposure to the technologies I have studied</th>
        </tr>
        <tr>
            <td colspan="3" style="text-align:left">
                <p><strong>References</strong></p>
                <ul style="list-style-type: none;">
                    <li>Wayne Herbert</li>
                    <li>011 474 1554</li>
                    <li>wherbert@lithotech.co.za</li>
                </ul>
            </td>
        </tr>
    </table>
</div>

