@page "/careerhistory"

<h3></h3>

<div class="row">
    <div class="col-auto">
        <a href="/poe" class="button" title="Back"><img alt="back" src="@Config.Images.General.Back" class="button img-fluid" title="Back" /></a>
    </div>
    <div class="col">
        <div class="pagetitle">
            <h1>Career History</h1>
            <hr class="pagedivider" />
        </div>
    </div>
</div>

<div class="text-center">
    <hr />
    <h4>Capitec Bank Holdings Limited</h4>
    <hr />
    <table style="width: 40%; margin: 0 auto; border:1px " border="1">
        <tr style="height: 40px;">
            <th scope="col" class="col-3" style="text-align:left">Work Duration</th>
            <th scope="col" class="col-2">:</th>
            <th scope="col" class="col-3" style="text-align:left">July 2022 - Current</th>
        </tr>
        <tr style="height: 40px;">
            <th scope="col" class="col-3" style="text-align:left">Position Type</th>
            <th scope="col" class="col-1">:</th>
            <th scope="col" class="col-3" style="text-align:left">Permanent</th>
        </tr>
        <tr style="height: 40px;">
            <th scope="col" class="col-3" style="text-align:left">Job Title</th>
            <th scope="col" class="col-1">:</th>
            <th scope="col" class="col-3" style="text-align:left">Analyst Developer: Front End</th>
        </tr>
        <tr>
            <td colspan="3" style="text-align:left">
                <p><strong>Responsibilities</strong></p>
                <ul>
                    <li>Develop detailed technical specifications from functional descriptions (design)</li>
                    <li>Develop systems from technical specifications as provided by Architects</li>
                    <li>Deliver development within agreed timelines.</li>
                    <li>Perform unit testing from a pre-defined test plan.</li>
                    <li>Update/amend test plans according to solution development to ensure coverage of all areas.</li>
                    <li>Provide testing assistance to developer(s)</li>
                    <li>Provide implementation instructions for new development.</li>
                    <li>Provide production support to production systems (stand-by)</li>
                    <li>Conduct investigations and solve system issues.</li>
                    <li>Prepare production deployment packages.</li>
                    <li>Ensure successful implementation.</li>
                    <li>Provide coaching and mentoring to Programmers and Developers</li>
                    <li>Team Leader for projects.</li>
                    <li>Participation and proactive problem-solving to meet team objectives.</li>
                </ul>
            </td>
        </tr>
        <tr>
            <th scope="col" class="col-3" style="text-align:left">Reason for leaving</th>
            <th scope="col" class="col-1">:</th>
            <th scope="col" class="col-3" style="text-align:left"></th>
        </tr>
        <tr>
            <td colspan="3" style="text-align:left">
                <p><strong>References</strong></p>
                <ul style="list-style-type: none;">
                    <li>Nolan Schoonraad</li>
                    <li>+27 84 676 9493</li>
                    <li>nolanschoonraad@capitecbank.co.za</li>
                </ul>
            </td>
        </tr>
    </table>
    <br />

    <hr />
    <h4>Tracer Workflow (Pty) Ltd</h4>
    <hr />
    <table style="width: 40%; margin: 0 auto; border:1px " border="1">
        <tr style="height: 40px;">
            <th scope="col" class="col-3" style="text-align:left">Work Duration</th>
            <th scope="col" class="col-2">:</th>
            <th scope="col" class="col-3" style="text-align:left">01 April 2013 - 30 June 2022</th>
        </tr>
        <tr style="height: 40px;">
            <th scope="col" class="col-3" style="text-align:left">Position Type</th>
            <th scope="col" class="col-1">:</th>
            <th scope="col" class="col-3" style="text-align:left">Permanent</th>
        </tr>
        <tr style="height: 40px;">
            <th scope="col" class="col-3" style="text-align:left">Job Title</th>
            <th scope="col" class="col-1">:</th>
            <th scope="col" class="col-3" style="text-align:left">Solutions Architect</th>
        </tr>
        <tr>
            <td colspan="3" style="text-align:left">
                <p><strong>Responsibilities</strong></p>
                <ul>
                    <li>To develop applications in multi-platform environments</li>
                    <li>To provide support to existing systems</li>
                    <li>To carry our modifications to existing programs and databases</li>
                    <li>To carry out the analysis, programming, tests, and installation of new systems</li>
                    <li>To provide support and customer service</li>
                    <li>Design, development, implementation and maintenance of new and existing products and services.</li>
                    <li>Oversee all Architectural Designs, Requirements and needs of the business.</li>
                    <li>To write user manuals and technical documents</li>
                    <li>Manage Development Staff</li>
                    <li>Providing technical lead to team members and other staff members.</li>
                    <li>Purchase and Maintaining Software for company needs.</li>
                    <li>Attending workshops and client technical meetings where technical advice needs to be provided.</li>
                    <li>Draw up quotes for clients and oversee specification documents.</li>
                    <li>Management of all system documentation to be kept in order and up to date.</li>
                    <li>Satisfactorily carry out all tasks and duties normally associated with the position employed for.</li>

                </ul>
            </td>
        </tr>
        <tr>
            <th scope="col" class="col-3" style="text-align:left">Reason for leaving</th>
            <th scope="col" class="col-1">:</th>
            <th scope="col" class="col-3" style="text-align:left">Seeking growth in career</th>
        </tr>
        <tr>
            <td colspan="3" style="text-align:left">
                <p><strong>References</strong></p>
                <ul style="list-style-type: none;">
                    <li>Cobus Van Graan</li>
                    <li>+27836283084</li>
                    <li>cobus@tracermw.com</li>
                </ul>
            </td>
        </tr>
    </table>
    <br />

    <hr />
    <h4>CRIMZone Software – Deloitte</h4>
    <hr />
    <table style="width: 40%; margin: 0 auto; border:1px " border="1">
        <tr style="height: 40px;">
            <th scope="col" class="col-3" style="text-align:left">Work Duration</th>
            <th scope="col" class="col-2">:</th>
            <th scope="col" class="col-3" style="text-align:left">01 November 2012 – 31 March 2013</th>
        </tr>
        <tr style="height: 40px;">
            <th scope="col" class="col-3" style="text-align:left">Position Type</th>
            <th scope="col" class="col-1">:</th>
            <th scope="col" class="col-3" style="text-align:left">Contractor</th>
        </tr>
        <tr style="height: 40px;">
            <th scope="col" class="col-3" style="text-align:left">Job Title</th>
            <th scope="col" class="col-1">:</th>
            <th scope="col" class="col-3" style="text-align:left">
                Computer Software Developer
                Support Engineer
            </th>
        </tr>
        <tr>
            <td colspan="3" style="text-align:left">
                <p><strong>Responsibilities</strong></p>
                <ul>
                    <li>Maintain existing databases.</li>
                    <li>Write C# Applications</li>
                    <li>Create Automated Processes</li>
                    <li>Use In – Maintain Client System</li>
                </ul>
            </td>
        </tr>
        <tr>
            <th scope="col" class="col-3" style="text-align:left">Reason for leaving</th>
            <th scope="col" class="col-1">:</th>
            <th scope="col" class="col-3" style="text-align:left">Contract Ended</th>
        </tr>
        <tr>
            <td colspan="3" style="text-align:left">
                <p><strong>References</strong></p>
                <ul style="list-style-type: none;">
                    <li>Allan Atkinson</li>
                    <li>+27832905723</li>
                    <li>allan@crimzone.com</li>
                </ul>
            </td>
        </tr>
    </table>
    <br />

    <hr />
    <h4>OneTrace / Bridge Law</h4>
    <hr />
    <table style="width: 40%; margin: 0 auto; border:1px " border="1">
        <tr style="height: 40px;">
            <th scope="col" class="col-3" style="text-align:left">Work Duration</th>
            <th scope="col" class="col-2">:</th>
            <th scope="col" class="col-3" style="text-align:left">11 November 2011 – 31 October 2012</th>
        </tr>
        <tr style="height: 40px;">
            <th scope="col" class="col-3" style="text-align:left">Position Type</th>
            <th scope="col" class="col-1">:</th>
            <th scope="col" class="col-3" style="text-align:left">Permanent</th>
        </tr>
        <tr style="height: 40px;">
            <th scope="col" class="col-3" style="text-align:left">Job Title</th>
            <th scope="col" class="col-1">:</th>
            <th scope="col" class="col-3" style="text-align:left">Software Developer</th>
        </tr>
        <tr>
            <td colspan="3" style="text-align:left">
                <p><strong>Responsibilities</strong></p>
                <ul>
                    <li>Create and modify existing / new database objects.</li>
                    <li>Create / Modify pages to an ASP.NET solution.</li>
                    <li>Use software to submit code to Concurrent Versions System to deploy.</li>
                    <li>Give support to business on live solution.</li>
                    <li>Submit database objects on an Architectural Management System.</li>
                    <li>Do projects as per business request.</li>
                </ul>
            </td>
        </tr>
        <tr>
            <th scope="col" class="col-3" style="text-align:left">Reason for leaving</th>
            <th scope="col" class="col-1">:</th>
            <th scope="col" class="col-3" style="text-align:left">
                Seeking better opportunity in the field of my studies closer to home
            </th>
        </tr>
        <tr>
            <td colspan="3" style="text-align:left">
                <p><strong>References</strong></p>
                <ul style="list-style-type: none;">
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </td>
        </tr>
    </table>
    <br />

    <hr />
    <h4>Lithotech Afric Mail Johannesburg</h4>
    <hr />
    <table style="width: 40%; margin: 0 auto; border:1px " border="1">
        <tr style="height: 40px;">
            <th scope="col" class="col-3" style="text-align:left">Work Duration</th>
            <th scope="col" class="col-2">:</th>
            <th scope="col" class="col-3" style="text-align:left">01 November 2010 – 31 October 2011 </th>
        </tr>
        <tr style="height: 40px;">
            <th scope="col" class="col-3" style="text-align:left">Position Type</th>
            <th scope="col" class="col-1">:</th>
            <th scope="col" class="col-3" style="text-align:left">Permanent</th>
        </tr>
        <tr style="height: 40px;">
            <th scope="col" class="col-3" style="text-align:left">Job Title</th>
            <th scope="col" class="col-1">:</th>
            <th scope="col" class="col-3" style="text-align:left">Programmer</th>
        </tr>
        <tr>
            <td colspan="3" style="text-align:left">
                <p><strong>Responsibilities</strong></p>
                <ul>
                    <li>Maintain existing databases.</li>
                    <li>Write C# Applications for Data Manipulation</li>
                    <li>Create Automated Processes</li>
                    <li>Use In – House Technology to create a file with a data input and paper output.</li>
                    <li>Receive client data and perform manipulations on the data.</li>
                </ul>
            </td>
        </tr>
        <tr>
            <th scope="col" class="col-3" style="text-align:left">Reason for leaving</th>
            <th scope="col" class="col-1">:</th>
            <th scope="col" class="col-3" style="text-align:left">Seeking greater exposure to the technologies I have studied</th>
        </tr>
        <tr>
            <td colspan="3" style="text-align:left">
                <p><strong>References</strong></p>
                <ul style="list-style-type: none;">
                    <li>Wayne Herbert</li>
                    <li>011 474 1554</li>
                    <li>wherbert@lithotech.co.za</li>
                </ul>
            </td>
        </tr>
    </table>
</div>

