<div class="top-row ps-1 navbar navbar-dark">
    <table>
        <tr>
            <td>
                <img alt="logo" src="@Statics.Logo" class="logo" />
            </td>
            <td>
                <a class="navbar-brand" href="">Hennie Francis's Blog</a>
                <p style="font-size: x-small; text-align:center;">Code, Tech and other things</p>
            </td>
        </tr>
    </table>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        @* <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill" aria-hidden="true"></span> Counter
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested" aria-hidden="true"></span> Weather
            </NavLink>
        </div> *@
    </nav>
</div>
