<div class="top-row ps-1 navbar navbar-dark">
    <table>
        <tr>
            <td>
                <a class="navbar-brand" href=""><img alt="logo" src="@Config.Logo" class="logo" /></a>
            </td>
            <td>
                <a class="navbar-brand" href="">Hennie's @Models.CleanName(Page)</a>
                <p style="font-size: x-small; text-align:center;">Code, Tech and other things</p>
            </td>
        </tr>
    </table>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        @if (Page == "techstack" || Page.StartsWith("techstack/"))
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/techstack/languages">
                    Languages
                    @* <span class="bi bi-plus-square-fill" aria-hidden="true"></span> Languages *@
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/techstack/front-end">
                    Front-end
                    @* <span class="bi bi-plus-square-fill" aria-hidden="true"></span> Front-end *@
                </NavLink>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/techstack/back-end">
                    Back-end
                    @* <span class="bi bi-plus-square-fill" aria-hidden="true"></span> Back-end *@
                </NavLink>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/techstack/webapps">
                    Web Apps
                    @* <span class="bi bi-plus-square-fill" aria-hidden="true"></span> Web Apps *@
                </NavLink>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/techstack/desktopapps">
                    Desktop Apps
                    @* <span class="bi bi-plus-square-fill" aria-hidden="true"></span> Desktop Apps *@
                </NavLink>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/techstack/cloud">
                    Cloud
                    @* <span class="bi bi-plus-square-fill" aria-hidden="true"></span> Cloud *@
                </NavLink>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/techstack/iot">
                    IoT
                    @* <span class="bi bi-plus-square-fill" aria-hidden="true"></span> IoT *@
                </NavLink>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/techstack/bigdata">
                    Big Data
                    @* <span class="bi bi-plus-square-fill" aria-hidden="true"></span> Big Data *@
                </NavLink>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/techstack/analytics">
                    Analytics
                    @* <span class="bi bi-plus-square-fill" aria-hidden="true"></span> Analytics *@
                </NavLink>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/techstack/webhosting">
                    Web Hosting
                    @* <span class="bi bi-plus-square-fill" aria-hidden="true"></span> Web Hosting *@
                </NavLink>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/techstack/sourcecontrol">
                    Source Control
                    @* <span class="bi bi-plus-square-fill" aria-hidden="true"></span> Source Control *@
                </NavLink>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/techstack/testingqa">
                    Testing &amp; QA
                    @* <span class="bi bi-plus-square-fill" aria-hidden="true"></span> Testing &amp; QA *@
                </NavLink>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/techstack/devops">
                    DevOps
                    @* <span class="bi bi-plus-square-fill" aria-hidden="true"></span> DevOps *@
                </NavLink>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/techstack/monitoring">
                    Monitoring
                    @* <span class="bi bi-plus-square-fill" aria-hidden="true"></span> Monitoring *@
                </NavLink>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/techstack/databases">
                    Databases
                    @* <span class="bi bi-plus-square-fill" aria-hidden="true"></span> Databases *@
                </NavLink>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/techstack/security">
                    Security
                    @* <span class="bi bi-plus-square-fill" aria-hidden="true"></span> Security *@
                </NavLink>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/techstack/software">
                    Software
                    @* <span class="bi bi-list-nested" aria-hidden="true"></span> Software *@
                </NavLink>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/techstack/other">
                    Other
                    @* <span class="bi bi-list-nested" aria-hidden="true"></span> Other *@
                </NavLink>
            </div>
        }
        else if (Page == "certifications" || Page == "certifications/aws" || Page == "certifications/microsoft" || Page == "certifications/other")
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/certifications/aws" Match="NavLinkMatch.All">
                    <span class="bi bi-amazon" aria-hidden="true"></span> AWS
                </NavLink>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/certifications/microsoft" Match="NavLinkMatch.All">
                    <span class="bi bi-microsoft" aria-hidden="true"></span> Microsoft
                </NavLink>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/certifications/other">
                    <span class="bi bi-mortarboard" aria-hidden="true"></span> Other
                </NavLink>
            </div>
        }

        

        @* <div class="nav-item px-3">
        <NavLink class="nav-link" href="counter">
        <span class="bi bi-plus-square-fill" aria-hidden="true"></span> Counter
        </NavLink>
        </div>

        <div class="nav-item px-3">
        <NavLink class="nav-link" href="weather">
        <span class="bi bi-list-nested" aria-hidden="true"></span> Weather
        </NavLink>
        </div> *@
    </nav>
</div>

@code{
    [Parameter]
    public string Page { get; set; }
}