@page "/certifications/other"

<div class="row">
    <div class="col-auto">
        <a href="/certifications" class="button" title="Back"><img alt="back" src="@Config.Back" class="button" title="Back" /></a>
    </div>
    <div class="col">
        <div class="pagetitle">
            <h1>Other Certifications</h1>
            <hr class="pagedivider" />
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row" style="margin:0">
        <div class="col-lg-1 badgediv">
            <a href="https://www.credly.com/badges/dcbd5185-33ae-4267-b319-740705afdbeb" title="Microsoft Certified Trainer 2018-2019" target="_blank">
                <img alt="Microsoft Certified Trainer 2018-2019" src="@Config.MCT2018_2019" class="badges" title="Microsoft Certified Trainer 2018-2019" />
            </a>
        </div>
    </div>
</div> 