<div class="container-fluid px-4">
  <div class="row">
    <div class="col">
      <nav class="divider-color" style="--bs-breadcrumb-divider: '&#x27A4;';" aria-label="breadcrumb">
        <ol class="breadcrumb">
          <a routerLink="/" title="Go Back" class="back">&#10531;</a>
          <li class="breadcrumb-item root"><a routerLink="/">root@hennie</a><b>: </b></li>
          <li class="breadcrumb-item current" aria-current="page">Current Role</li>
        </ol>
      </nav>
    </div>
  </div>
  <div class="row heading">
    <div class="col"><h1>Current Role</h1></div>
  </div>

  @if (!true) {
  @if (logo) {
    <div class="row heading">
      <div class="col">
        <a [href]="logo.href" target="_blank" rel="noopener noreferrer" [title]="logo.name">
          <img [src]="logo.src" [class]="logo.className" [alt]="logo.name">
        </a>
      </div>
    </div>
  }

  @for (fact of facts; track $index) {
    <div class="row">
      <div class="col-5"></div>
      <div class="col-1"><h5>{{ fact.label }}:</h5></div>
      <div class="col-2"><p>{{ fact.value }}</p></div>
      <div class="col-4"></div>
    </div>
  }
  }
</div>
