<div class="pageheader px-4">
  <div class="row">
    <div class="col">
      <nav class="divider-color" style="--bs-breadcrumb-divider: '&#x27A4;';" aria-label="breadcrumb">
        <ol class="breadcrumb">
          <a routerLink="/" title="Go Back" class="back">&#10531;</a>
          <li class="breadcrumb-item root"><a routerLink="/">root@hennie</a><b>: </b></li>
          <li class="breadcrumb-item current" aria-current="page">Certifications</li>
        </ol>
      </nav>
    </div>
  </div>
  <div class="row heading">
    <div class="col"><h1>Certifications</h1></div>
  </div>
  <hr />
</div>
<div class="container-fluid-content px-4">
  @for (group of groups; track $index; let last = $last) {
    <div class="row">
      <div class="col"><h4>{{ group.name }}</h4></div>
    </div>
    <div class="row text-center">
      @for (badge of group.badges; track $index) {
        <div class="col-sm-1">
          <div class="certification zoom">
            @if (badge.external) {
              <a [href]="badge.href" [title]="badge.name" target="_blank" rel="noopener noreferrer">
                <label [class]="badge.status">{{ badge.statusText }}</label>
                <img [src]="badge.src" [alt]="badge.name" loading="lazy">
              </a>
            } @else {
              <a [routerLink]="badge.route" [title]="badge.name">
                <label [class]="badge.status">{{ badge.statusText }}</label>
                <img [src]="badge.src" [alt]="badge.name" loading="lazy">
              </a>
            }
          </div>
        </div>
      }
    </div>
    @if (!last) { <hr /> }
  }
</div>
