@page "/poe/projects"

<div class="row">
    <div class="col-auto">
        <a href="/poe" class="button" title="Back"><img alt="back" src="@Config.Images.General.Back" class="button img-fluid" title="Back" /></a>
    </div>
    <div class="col">
        <div class="pagetitle">
            <h1>Portfolio of Evidence: Projects</h1>
            <hr class="pagedivider" />
        </div>
    </div>
</div>

<div class="text-center">
<h4>Watch this space for more details coming soon!</h4>
</div>

<div class="text-center">
    <hr />
    <h2>This Website</h2>
    <hr />
    <br />
    <h4>Description</h4>
    <div style="text-align: left; padding-left: 15%; padding-right: 15%">
        <p>A Website that showcase my personal brand.  The website contains a detailed biography, my current role, showcasing my portfolio of evidence, access to all my social media, the events I have been publicly speaking at, my technical blogs, a full list of my technical stack, all of my certifications and my special awards.</p>
    </div>
    <br />
    @*
    <h4>Your Contribution</h4>
    <div style="text-align: left; padding-left: 15%; padding-right: 15%">
        <p>I created this project using .NET 8 Blazor Server Side Rendering, combined with Bootstrap 5, CSS 3, HTML 5.  I used custom styling where I override the default bootstrap to fit my style.  I started off the project by creating a home page, divided into 2 sections.  On the left I placed a panel for my photo, introduction and a little about me. On the right panel, I used Bootstrap Grid system to divide the tiles equally and the same size. </p>
        <p>In the beginning of the project, I stored the images on disk, but it was slow and the project images grew in quanity, so started converting the images to Base64 and stored them in JSON files, later I moved the images to a AWS DynamoDB table where I am reading the content from at this moment, I am looking to improve the content delivery on this project.</p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
    </div>
    <br />
    <h4>Tech Stack</h4>
    <div style="text-align: center">
        <p>.NET 8, Blazor SSR, Bootstrap 5, CSS 3, HTML 5, AWS, AWS DynamoDB, AWS SDK Kit</p>
    </div>
    <br />
    <h4>Results</h4>
    <div style="text-align: center">
        <p>Full stack solution for my personal brand.</p>
    </div>
    *@
    <br />
    <h4>Diagram</h4>
    <img alt="AWS Cloud Quest: Solutions Architect" src="@Config.Images.Projects.Website" class="img-fluid" title="AWS Cloud Quest: Solutions Architect" />
    <br />
</div>