@inherits BlogModel
@page "/poe"

<div class="row">
    <div class="col-auto">
        <a href="/" class="button" title="Back"><img alt="back" src="@Config.Images.General.Back" class="button img-fluid" title="Back" /></a>
    </div>
    <div class="col">
        <div class="pagetitle">
            <h1>Portfolio of Evidence</h1>
            <hr class="pagedivider" />
        </div>
    </div>
</div>

Something coming soon! Watch this space...

<div class="container-fluid" style="margin-top: 0px;">
    <div class="row">
        <div class="col-sm-4">
            <a href="/poe/cv" title="Curriculum Vitae">
                <div class="mt-3 p-4 px-1 bg-gradient text-white rounded text-center hometile">
                    <img alt="cv" src="@Config.Images.PoE.CV" class="img-fluid" title="Curriculum Vitae" />
                </div>
            </a>
        </div>

        <div class="col-sm-4">
            <a href="/poe/experience" title="Work Experience">
                <div class="mt-3 p-4 px-1 bg-gradient text-white rounded text-center hometile">
                    <img alt="Work Experience" src="@Config.Images.PoE.Experience" class="img-fluid" title="Work Experience" />
                </div>
            </a>
        </div>

        <div class="col-sm-4">
            <a href="/poe/projects" title="Projects">
                <div class="mt-3 p-4 px-1 bg-gradient text-white rounded text-center hometile">
                    <img alt="Projects" src="@Config.Images.PoE.Projects" class="img-fluid" title="Projects" />
                </div>
            </a>
        </div>
    </div>
</div>