@inherits PublicSpeakingModel
@page "/publicspeaking"

<div class="row">
    <div class="col-auto">
        <a href="/" class="button" title="Back"><img alt="back" src="@Config.Images.General.Back" class="button img-fluid" title="Back" /></a>
    </div>
    <div class="col">
        <div class="pagetitle">
            <h1>Public Speaking</h1>
            <hr class="pagedivider" />
        </div>
    </div>
</div>

<div class="container-fluid" style="margin-top: 0px;">
    <div class="row">
        <div class="col-sm-4">
            @* /publicspeaking/dotnetconf/2023 *@
            <a href="https://cptmsdug.dev" title=".NET Conference 2023" target="_blank">
                <div class="mt-3 p-4 px-1 text-white rounded text-center hometile">
                    <img alt=".NET Conference 2023" src="@Config.Images.PublicSpeaking.dotnetConf2023" class="img-fluid" title=".NET Conference 2023" />
                </div>
            </a>
        </div>
    </div>
</div>