@inherits PublicSpeakingModel
@page "/publicspeaking"

<div class="row">
    <div class="col-auto">
        <a href="/" class="button" title="Back"><img alt="back" src="@Config.Images.General.Back" class="button img-fluid" title="Back" /></a>
    </div>
    <div class="col">
        <div class="pagetitle">
            <h1>Public Speaking</h1>
            <hr class="pagedivider" />
        </div>
    </div>
</div>

<div class="container-fluid" style="margin-top: 0px;">
    <div class="row">
        <div class="col-sm-4">
            <a href="/publicspeaking/dotnetconf/2023" title=".NET Conference 2023">
                <div class="mt-3 p-4 px-1 text-white rounded text-center hometile">
                    <img alt=".NET Conference 2023" src="@Config.Images.PublicSpeaking.dotnetConf2023" class="img-fluid" title=".NET Conference 2023" />
                </div>
            </a>
        </div>
        <div class="col-sm-4">
            <a href="/publicspeaking/googleioextended/2024" title="Google I/O Extended 2024 Cape Town">
                <div class="mt-3 p-4 px-1 text-white rounded text-center hometile">
                    <img alt="Google I/O Extended 2024 Cape Town" src="@Config.Images.PublicSpeaking.googleIOExtended2024" class="img-fluid" title="Google I/O Extended 2024 Cape Town" />
                </div>
            </a>
        </div>
        <div class="col-sm-4">
            <a href="/publicspeaking/awssummit/2024" title="AWS Summit Johannesburg 2024">
                <div class="mt-3 p-4 px-1 text-white rounded text-center hometile">
                    <img alt="AWS Summit Johannesburg 2024" src="@Config.Images.PublicSpeaking.awsSummit2024" class="img-fluid" title="AWS Summit Johannesburg 2024" />
                </div>
            </a>
        </div>
    </div>
</div>