@inherits dotnetConf2024Model
@page "/publicspeaking/dotnetconf/2024"

<div class="row">
    <div class="col-auto">
        <a href="/publicspeaking" class="button" title="Back"><img alt="back" src="@Config.Images.General.Back" class="button img-fluid" title="Back" /></a>
    </div>
    <div class="col">
        <div class="pagetitle">
            <h1>Microsoft .NET Conference</h1>
            <h2>2024</h2>
            <hr class="pagedivider" />
            <div class="container-fluid" style="margin-top: -50px;">
                <div class="row">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-4">
                        <a href="https://cptmsdug.dev" title=".NET Conference 2024" target="_blank">
                            <div class="mt-3 p-4 px-1 text-white rounded text-center hometile">
                                <img alt=".NET Conference 2024" src="@Config.Images.PublicSpeaking.dotnetConf2024" class="img-fluid" title=".NET Conference 2024" />
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-4"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        <h2><b>Is .NET Aspire really that inspiring?</b></h2>
        <h5>Join me as we dive into the world of .NET Aspire and explore whether it lives up to its inspiring reputation. As a software engineer navigating the ever-evolving tech landscape, I’ll share my insights on the event's impact on professional growth, networking, and skill enhancement. From real-world experiences to key takeaways, we’ll uncover how .NET Aspire can empower developers to embrace innovation and elevate their careers. Whether you're a seasoned pro or just starting out, let’s discover together if this platform is the spark that ignites your passion for .NET development!</h5>
        <a href="https://sessionize.com/s/henniefrancis/is-.net-aspire-really-that-inspiring/98260" title="Sessionize Session" target="_blank" class="blanklink">
            <div class="mt-5 p-1 text-white rounded text-center">
                <img alt="Sessionize" src="@Config.Images.Socials.Sessionize" class="img-fluid" style="width: 400px;" title="Sessionize" />
            </div>
        </a>
    </div>
    <div class="col-sm-2"></div>
</div>