@page "/techstack/analytics"

<div class="row">
    <div class="col-auto">
        <a href="/techstack" class="button" title="Back"><img alt="back" src="@Config.Images.General.Back" class="button img-fluid" title="Back" /></a>
    </div>
    <div class="col">
        <div class="pagetitle">
            <h1>Tech Stack: Analytics</h1>
            <hr class="pagedivider" />
        </div>
    </div>
</div>

More coming soon! Watch this space...

<div class="row">
    <div class="col-sm-2">
        <a href="https://analytics.google.com/analytics/academy" title="Google Analytics" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>Google Analytics</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://www.microsoft.com/en-us/power-platform/products/power-bi" title="Microsoft Power BI" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>Microsoft Power BI</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://learn.microsoft.com/en-us/system-center/scsm/olap-cubes-overview?view=sc-sm-2022" title="OLAP Cubes" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>OLAP Cubes</h3>
            </div>
        </a>
    </div>
</div>