@page "/techstack/back-end"

<div class="row">
    <div class="col-auto">
        <a href="/techstack" class="button" title="Back"><img alt="back" src="@Config.Images.General.Back" class="button img-fluid" title="Back" /></a>
    </div>
    <div class="col">
        <div class="pagetitle">
            <h1>Tech Stack: Back-end</h1>
            <hr class="pagedivider" />
        </div>
    </div>
</div>

More coming soon! Watch this space...

<div class="row">
    <div class="col-sm-2">
        <a href="https://learn.microsoft.com/en-us/dotnet/framework/wcf/whats-wcf" title="WCF" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>WCF</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://dotnet.microsoft.com/en-us/apps/aspnet/apis" title="ASP.NET Core API" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>ASP.NET Core API</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://microservices.io" title="Micro Services target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>Micro Services</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://swagger.io" title="Swagger" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>Swagger</h3>
            </div>
        </a>
    </div>
</div>