@page "/techstack/bigdata"

<div class="row">
    <div class="col-auto">
        <a href="/techstack" class="button" title="Back"><img alt="back" src="@Config.Images.General.Back" class="button img-fluid" title="Back" /></a>
    </div>
    <div class="col">
        <div class="pagetitle">
            <h1>Tech Stack: Big Data</h1>
            <hr class="pagedivider" />
        </div>
    </div>
</div>

More coming soon! Watch this space...

<div class="row">
    <div class="col-sm-2">
        <a href="https://kafka.apache.org" title="Apache Kafka" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center">
                <h3>Apache Kafka</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://aws.amazon.com/msk" title="AWS MSK" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>AWS MSK</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://www.microsoft.com/en-us/power-platform/products/power-bi" title="Microsoft Power BI" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>Microsoft Power BI</h3>
            </div>
        </a>
    </div>
</div>