@page "/techstack/cloud"

<div class="row">
    <div class="col-auto">
        <a href="/techstack" class="button" title="Back"><img alt="back" src="@Config.Back" class="button img-fluid" title="Back" /></a>
    </div>
    <div class="col">
        <div class="pagetitle">
            <h1>Tech Stack: Cloud</h1>
            <hr class="pagedivider" />
        </div>
    </div>
</div>

More coming soon! Watch this space...

<div class="row">
    <div class="col-sm-2">
        <a href="https://aws.amazon.com" title="AWS" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center">
                <h3>AWS</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://azure.microsoft.com" title="Azure" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>Azure</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://cloud.google.com" title="GitLab" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>Google</h3>
            </div>
        </a>
    </div>
</div>