@page "/techstack/databases"

<div class="row">
    <div class="col-auto">
        <a href="/techstack" class="button" title="Back"><img alt="back" src="@Config.Back" class="button img-fluid" title="Back" /></a>
    </div>
    <div class="col">
        <div class="pagetitle">
            <h1>Tech Stack: Databases</h1>
            <hr class="pagedivider" />
        </div>
    </div>
</div>

More coming soon! Watch this space...

<div class="row">
    <div class="col-sm-2">
        <a href="https://www.microsoft.com/en-us/sql-server" title="Microsoft SQL Server" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>Microsoft SQL Server</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://www.mysql.com" title="MySQL" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center">
                <h3>MySQL</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://www.postgresql.org" title="PostgreSQL" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>PostgreSQL</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://aws.amazon.com/dynamodb" title="Amazon DynamoDB" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>Amazon DynamoDB</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://aws.amazon.com/rds" title="Amazon RDS" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>Amazon RDS</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://aws.amazon.com/rds/aurora" title="Amazon RDS: Aurora" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>Amazon RDS: Aurora</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://aws.amazon.com/rds/mysql" title="Amazon RDS: MySQL" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>Amazon RDS: MySQL</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://aws.amazon.com/rds/postgresql" title="Amazon RDS: PostgreSQL" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>Amazon RDS: PostgreSQL</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://aws.amazon.com/rds/sqlserver" title="Amazon RDS: SQL Server" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>Amazon RDS: SQL Server</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://aws.amazon.com/rds/custom" title="Amazon RDS: Custom" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>Amazon RDS: Custom</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://aws.amazon.com/documentdb" title="Amazon DocumentDB" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>Amazon DocumentDB</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://aws.amazon.com/redshift" title="Amazon Redshift" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>Amazon Redshift</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://azure.microsoft.com/en-us/products/cosmos-db" title="Azure: Cosmos DB" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>Azure: Cosmos DB</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://azure.microsoft.com/en-us/products/azure-sql/database" title="Azure: SQL Server" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>Azure: SQL Server</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://azure.microsoft.com/en-us/products/postgresql" title="Azure: PostgreSQL" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>Azure: PostgreSQL</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://azure.microsoft.com/en-us/products/mysql" title="Azure: MySQL" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>Azure: MySQL</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://azure.microsoft.com/en-us/products/cache" title="Azure Cache for Redis 2" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>Azure Cache for Redis 2</h3>
            </div>
        </a>
    </div>
</div>