@page "/techstack/desktopapps"

<div class="row">
    <div class="col-auto">
        <a href="/techstack" class="button" title="Back"><img alt="back" src="@Config.Images.General.Back" class="button img-fluid" title="Back" /></a>
    </div>
    <div class="col">
        <div class="pagetitle">
            <h1>Tech Stack: Desktop Apps</h1>
            <hr class="pagedivider" />
        </div>
    </div>
</div>

More coming soon! Watch this space...

<div class="row">
    <div class="col-sm-2">
        <a href="https://learn.microsoft.com/en-us/dotnet/desktop/wpf/overview/?view=netdesktop-7.0" title="WPF" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>WPF</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://learn.microsoft.com/en-us/visualstudio/ide/create-csharp-winform-visual-studio?view=vs-2022" title="Windows Forms" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>Windows Forms</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://dotnet.microsoft.com/en-us/apps/maui" title=".NET MAUI" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>.NET MAUI</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://dotnet.microsoft.com/en-us/apps/xamarin" title="Xamarin" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>Xamarin</h3>
            </div>
        </a>
    </div>
</div>