@page "/techstack/devops"

<div class="row">
    <div class="col-auto">
        <a href="/techstack" class="button" title="Back"><img alt="back" src="@Config.Images.General.Back" class="button img-fluid" title="Back" /></a>
    </div>
    <div class="col">
        <div class="pagetitle">
            <h1>Tech Stack: DevOps</h1>
            <hr class="pagedivider" />
        </div>
    </div>
</div>

More coming soon! Watch this space...

<div class="row">
    <div class="col-sm-2">
        <a href="https://www.rancher.com" title="Rancher" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>Rancher</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://www.consul.io" title="HCP Consul" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>HCP Consul</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://www.mirantis.com/software/mirantis-kubernetes-engine" title="Mirantis" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>Mirantis</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://www.ansible.com" title="Ansible" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>Ansible</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://www.jenkins.io" title="Jenkins" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>Jenkins</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://www.docker.com" title="Docker" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>Docker</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://www.terraform.io" title="Terraform" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>Terraform</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://kubernetes.io" title="K8S" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>K8S</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://maven.apache.org" title="Apache Maven" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>Apache Maven</h3>
            </div>
        </a>
    </div>
</div>