@page "/techstack/front-end"

<div class="row">
    <div class="col-auto">
        <a href="/techstack" class="button" title="Back"><img alt="back" src="@Config.Images.General.Back" class="button img-fluid" title="Back" /></a>
    </div>
    <div class="col">
        <div class="pagetitle">
            <h1>Tech Stack: Front-end</h1>
            <hr class="pagedivider" />
        </div>
    </div>
</div>

More coming soon! Watch this space...

<div class="row">
    <div class="col-sm-2">
        <a href="https://www.javascript.com" title="JavaScript" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center">
                <h3>JavaScript</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://getbootstrap.com" title="Bootstrap" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>Bootstrap</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://www.w3schools.com/css" title="CSS" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>CSS</h3>
            </div>
        </a>
    </div>
        <div class="col-sm-2">
        <a href="https://jquery.com" title="jQuery" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>jQuery</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://www.w3schools.com/html" title="HTML 5" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>HTML 5</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://html5boilerplate.com" title="HTML 5: Boilerplate" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>HTML 5 Boilerplate</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://angular.io" title="Angular" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>Angular</h3>
            </div>
        </a>
    </div>
</div>