@page "/techstack/languages"

<div class="row">
    <div class="col-auto">
        <a href="/techstack" class="button" title="Back"><img alt="back" src="@Config.Back" class="button img-fluid" title="Back" /></a>
    </div>
    <div class="col">
        <div class="pagetitle">
            <h1>Tech Stack: Languages</h1>
            <hr class="pagedivider" />
        </div>
    </div>
</div>

More coming soon! Watch this space...

<div class="row">
    <div class="col-sm-2">
        <a href="https://learn.microsoft.com/en-us/dotnet/csharp/" title="C# 10" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center">
                <h3>C# 10</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://www.java.com/en/" title="JAVA" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>JAVA 20</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://www.javascript.com" title="Javascript" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>Javascript</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://www.microsoft.com/en-za/sql-server/sql-server-downloads" title="Microsoft SQL" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>Microsoft SQL</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://learn.microsoft.com/en-us/sql/t-sql/language-reference?view=sql-server-ver16" title="Microsoft T-SQL" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>Microsoft T-SQL</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://www.w3schools.com/html/" title="HTML 5" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>HTML 5</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://www.python.org/" title="Python" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>Python</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://angular.io" title="Angular" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>Angular</h3>
            </div>
        </a>
    </div>
</div>