@page "/techstack/monitoring"

<div class="row">
    <div class="col-auto">
        <a href="/techstack" class="button" title="Back"><img alt="back" src="@Config.Images.General.Back" class="button img-fluid" title="Back" /></a>
    </div>
    <div class="col">
        <div class="pagetitle">
            <h1>Tech Stack: Monitoring</h1>
            <hr class="pagedivider" />
        </div>
    </div>
</div>

More coming soon! Watch this space...

<div class="row">
    <div class="col-sm-2">
        <a href="https://www.ibm.com/products/instana" title="Instana" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center">
                <h3>Instana</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://grafana.com" title="Grafana" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>Grafana</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://opensearch.org" title="OpenSearch" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>OpenSearch</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://www.elastic.co/elasticsearch" title="Elastic" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>Elastic</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://www.pagerduty.com/" title="PagerDuty" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>PagerDuty</h3>
            </div>
        </a>
    </div>
</div>