@page "/techstack/software"

<div class="row">
    <div class="col-auto">
        <a href="/techstack" class="button" title="Back"><img alt="back" src="@Config.Images.General.Back" class="button img-fluid" title="Back" /></a>
    </div>
    <div class="col">
        <div class="pagetitle">
            <h1>Tech Stack: Software</h1>
            <hr class="pagedivider" />
        </div>
    </div>
</div>

More coming soon! Watch this space...

<div class="row">
    <div class="col-sm-2">
        <a href="https://www.atlassian.com/software/jira" title="JIRA" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center">
                <h3>JIRA</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://www.atlassian.com/software/confluence" title="Confluence" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>Confluence</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://www.atlassian.com/software/jira/service-management" title="JIRA Service Management" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>JIRA Service Management</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://slack.com" title="Slack" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>Slack</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://trello.com" title="Trello" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>Trello</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://www.jenkins.io" title="Jenkins" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>Jenkins</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://developer.hashicorp.com/terraform/enterprise" title="Terraform Enterprise" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>Terraform Enterprise</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://www.lucidchart.com" title="Lucidchart" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>Lucidchart</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://lucidspark.com" title="Lucidspark" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>Lucidspark</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://lucidscale.com" title="Lucidscale" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>Lucidscale</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://draw.io" title="draw.io" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>draw.io</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://sparxsystems.com/products/ea" title="Enterprise Architect" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>Enterprise Architect</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://c4model.com" title="C4 Models" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>C4 Models</h3>
            </div>
        </a>
    </div>
</div>