@page "/techstack/sourcecontrol"

<div class="row">
    <div class="col-auto">
        <a href="/techstack" class="button" title="Back"><img alt="back" src="@Config.Images.General.Back" class="button img-fluid" title="Back" /></a>
    </div>
    <div class="col">
        <div class="pagetitle">
            <h1>Tech Stack: Source Control</h1>
            <hr class="pagedivider" />
        </div>
    </div>
</div>

More coming soon! Watch this space...

<div class="row">
    <div class="col-sm-2">
        <a href="https://git-scm.com" title="Git" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center">
                <h3>Git</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://github.com" title="GitHub" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>GitHub</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://about.gitlab.com" title="GitLab" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>GitLab</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://aws.amazon.com/codecommit" title="Amazon Web Services" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>AWS CodeCommit</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://azure.microsoft.com/en-us/products/devops/server" title="Team Foundation Server" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>Team Foundation Server</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://azure.microsoft.com/en-us/products/devops/server" title="Azure DevOps" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>Azure DevOps</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://bitbucket.org/" title="Bitbucket" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>Bitbucket</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://tortoisesvn.net" title="TortoiseSVN" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center">
                <h3>Tortoise SVN</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://www.visualsvn.com" title="Visual SVN" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>Visual SVN</h3>
            </div>
        </a>
    </div>
</div>