@page "/techstack/testingqa"

<div class="row">
    <div class="col-auto">
        <a href="/techstack" class="button" title="Back"><img alt="back" src="@Config.Images.General.Back" class="button img-fluid" title="Back" /></a>
    </div>
    <div class="col">
        <div class="pagetitle">
            <h1>Tech Stack: Testing &amp; QA</h1>
            <hr class="pagedivider" />
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2">
            <a href="" title="jMeter" target="_blank" class="blanklink">
                <div class="mt-4 p-5 bg-gradient text-white rounded text-center">
                    <h3>jMeter</h3>
                </div>
            </a>
        </div>
        <div class="col-sm-2">
            <a href="" title="Insomnia" target="_blank" class="blanklink">
                <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                    <h3>Insomnia</h3>
                </div>
            </a>
        </div>
        <div class="col-sm-2">
            <a href="" title="Postman" target="_blank" class="blanklink">
                <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                    <h3>Postman</h3>
                </div>
            </a>
        </div>
        <div class="col-sm-2">
            <a href="" title="Ready API" target="_blank" class="blanklink">
                <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                    <h3>Ready API</h3>
                </div>
            </a>
        </div>
        <div class="col-sm-2">
            <a href="" title="Test Complete" target="_blank" class="blanklink">
                <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                    <h3>Test Complete</h3>
                </div>
            </a>
        </div>
    </div>
</div>