@page "/techstack/webapps"

<div class="row">
    <div class="col-auto">
        <a href="/techstack" class="button" title="Back"><img alt="back" src="@Config.Back" class="button img-fluid" title="Back" /></a>
    </div>
    <div class="col">
        <div class="pagetitle">
            <h1>Tech Stack: Web Apps</h1>
            <hr class="pagedivider" />
        </div>
    </div>
</div>

More coming soon! Watch this space...

<div class="row">
    <div class="col-sm-2">
        <a href="https://dotnet.microsoft.com/en-us/apps/aspne" title="ASP.NET" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>ASP.NET</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://dotnet.microsoft.com/en-us/apps/aspnet/mvc" title="ASP.NET MVC" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>ASP.NET MVC</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://dotnet.microsoft.com/en-us/apps/aspnet/web-apps/blazo" title="Blazor" target="_blank" class="blanklink">
            <div class="mt-4 p-5 bg-gradient text-white rounded text-center ">
                <h3>Blazor</h3>
            </div>
        </a>
    </div>
</div>